<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'></p>
    <p class='second-fotter-text'></p>
  </div>
   <%= image_tag "Part of Life.png", class:"second-fotter-logo"%> 

</footer>